.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: rgb(54 173 238 / 35%);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}